body {
    margin: 60px;
    background-color: #181818;
    font-family: 'Arial', sans-serif;
}

h1 {
  text-transform: uppercase;
  color: white;
}

.container {
  display: block;
  position: relative;
  width: 555px;
  height: 320px;
  background-color: #424242;
}

.zoomable-image {
    display: block;
    width: 555px;
    height: 320px;
    margin-bottom: 15px;

    background-color: #989898;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
